@model DAL.CompteUtilisateur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompteUtilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreationCompte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreationCompte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profil.NomProfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profil.NomProfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUtilisateur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
